.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 60px;
  background: rgba(20, 20, 20, 0.75);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  color: white;
  position: sticky;
  top: 0;
  z-index: 1000;
  transition: all 0.4s ease;
}
.logo {
  font-size: 30px;
  font-weight: 800;
  cursor: pointer;
  transition: all 0.4s ease;
}

.logo span {
  color: #ff6b00;
}
.logo:hover {
  transform: scale(1.08);
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 30px;
}

.nav-links li {
  position: relative;
  cursor: pointer;
  transition: all 0.3s ease;
  font-size: 17px;
  font-weight: 600;
  letter-spacing: 0.5px;
}
.nav-links li:hover {
  color: orange;
}
.nav-links li::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 0;
  height: 2px;
  background-color: #ff6b00;
  transition: width 0.3s ease;
}
.nav-links li:hover::after {
  /*I used ::after to create an animated underline without adding extra HTML elements.*/
  width: 100%;
}
.nav-icons {
  display: flex;
  align-items: center;
  gap: 22px;
  font-size: 22px;
}

.nav-icons svg {
  cursor: pointer;
  transition: all 0.3s ease;
}

.nav-icons svg:hover {
  color: #ff6b00;
  transform: translateY(-3px) scale(1.1);
}
.shop-btn {
  background: #ff6b00;
  color: white;
  border: none;
  padding: 10px 22px;
  border-radius: 30px;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
}

.shop-btn:hover {
  background: white;
  color: #ff6b00;
  transform: translateY(-2px);
}